{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<script src="{{ url_for('static', filename='index.js') }}"></script>
<!-- documentation at https://github.com/shaack/bootstrap-input-spinner -->
<script src="{{ url_for('static', filename='bootstrap-input-spinner.js') }}"></script>
<script src="https://use.fontawesome.com/6f12e9c89f.js"></script>

    <table class="table">
        <colgroup span="4" width="15%"></colgroup>
        <colgroup span="3"></colgroup>

        <th>Name</th>
        <th>Shares</th>
        <th>Price</th>
        <th>Value</th>
        <th>Buy</th>
        <th>Sell</th>
        <th>Confirm</th>
        {% for row in rows %}

        <tr>
            <td> {{ row.name }} </td>
            <td> {{ row.shares }} </td>
            <td> {{ row.price | usd }} </td>
            <td> {{ row.value | usd }} </td>
            <td>
                <div class="aquantity-group">
                    <input type="number" name="quantity" class="form-control input-number input-share-value" min="1" max="100">
                </div>
            </td>
           <td>Sell</td> 
            <td>
                <button type="button" class="btn btn-success">
                    <span class="fa fa-check" aria-hidden="true"></span>
                </button>
            </td>

        </tr>

        {% endfor %}

        <tfoot>
            <tr>
                <td> <b>Cash: </b></td>
                <td> {{ cash | usd }} </td>
            </tr>
            <tr>
                <td> <b>Total Value: </b></td>
                <td> {{ total_assets | usd }} </td>
            </tr>
        </tfoot>

    </table>


{% endblock %}
