{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="{{ url_for('static', filename='register.js') }}"></script>

    <form action="/register" method="post" novalidate>
        <div class="form-group" id="username_div">
            <input autocomplete="off" autofocus class="form-control" name="username" id="register_username" 
            placeholder="Username" type="text" required minlength="4">
        </div>
        <div class="form-group">
            <input class="form-control" id="register_password" name="password" 
            placeholder="Password" type="password" required minlength="4">
        </div>
        <div class="form-group">
            <input class="form-control" id="register_confirmation" name="confirmation" 
            placeholder="Re-type Password" type="password" required>
        </div>
        <button class="btn btn-primary" id="register_button"type="submit">Register</button>
    </form>
    <p id="error-text"></p>
{% endblock %}
