{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="form-group">
            <select name="symbol" placeholder="Stock Symbol">
            {% for row in rows %}
                <option value="{{row.symbol}}"> {{ row.name }} </option>
            {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="shares" placeholder="Number of Shares" type="integer">
        </div>
        <button class="btn btn-primary" type="submit">Sell!</button>
    </form>
{% endblock %}
